//Colors
$button-black-background-color: $black;
$button-white-background-color: $white;
$button-gradient-background-color: $yellow-gray-gradient;
$button-default-background-color: transparent;

$button-border-dusty-gray: $dusty-gray;

//Sizes
$button-size-huge: 70px;
$button-size-big: 65px;
$button-size-middle: 60px;
$button-size-small: 50px;

$button-circle-height: 60px !important;
$button-circle-width: 60px !important;
$button-square-height: 70px;
$button-square-width: 70px;

$button-circle-withImage-width: 65%;
$button-circle-withImage-height: 65%;

// length
$button-width-short: 120px;
$button-width-medium: 150px;
$button-width-large: 200px;
$button-width-Extra-large: 250px;
$button-width-maxWidth: 100%;

//Fonts
$button-line-height-small: 21px;
$button-line-height-middle: 21px;
$button-line-height-big: 25px;
$button-line-height-huge: 28px;

$button-font-size-small: 18px;
$button-font-size-middle: 20px;
$button-font-size-big: 22px;
$button-font-size-huge: 24px;

$button-circle-border-radius: 50%;
$button-oval-border-radius: 99px;
$button-square-border-radius: 15px;

$button-oval-padding: 10px 60px 5px 60px;

$button-small-padding: 15px 30px 11px 30px;
$button-middle-padding: 25px 40px 20px 40px;

$button-default-padding: 25px 40px 20px 40px;

$button-icon-circle-font-size: 22px;
$button-icon-square-font-size: 31px;
