//Colors
$button-black-background-color: $black;
$button-white-background-color: $white;
$button-gradient-background-color: $yellow-gray-gradient-default;
$button-gray-background-color: $default-background;
$button-default-background-color: transparent;

$button-border-dusty-gray: $dusty-gray;

//Sizes
$button-size-huge: 70px;
$button-size-big: 65px;
$button-size-middle: 60px;
$button-size-small: 50px;

$button-circle-height: 60px !important;
$button-circle-width: 60px !important;
$button-square-height: 70px;
$button-square-width: 70px;

$button-circle-withImage-width: 65%;
$button-circle-withImage-height: 65%;

// length
$button-width-short: 120px;
$button-width-medium: 150px;
$button-width-large: 200px;
$button-width-Extra-large: 250px;
$button-width-maxWidth: 100%;

//Fonts
$button-line-height-small: 21px;
$button-line-height-middle: 21px;
$button-line-height-big: 25px;
$button-line-height-huge: 28px;

$button-font-size-small: 22px;
$button-font-size-middle: 24px;
$button-font-size-big: 24px;
$button-font-size-huge: 24px;

$button-circle-border-radius: 50%;
$button-oval-border-radius: 99px;
$button-square-border-radius: 15px;

$button-oval-padding: 10px 60px 5px 60px;

$button-small-padding: 11px 30px 11px 30px;
$button-middle-padding: 25px 40px 20px 40px;

$button-default-padding: 25px 40px 20px 40px;

$button-icon-circle-font-size: 22px;
$button-icon-square-font-size: 31px;

// Animations

// linear-gradient(82.62deg, #ffd600 0%, #ff3938e5 92%)

@keyframes defaultButtonAnimation {
	0% {
		background: $yellow-gray-gradient-default;
	}

	10% {
		background: linear-gradient(82.62deg, #ffd450 0%, #ff5338 92%);
	}

	20% {
		background: linear-gradient(82.62deg, #ffd350 0%, #ff6b38 92%);
	}

	30% {
		background: linear-gradient(82.62deg, #ffd600 0%, #ff8938 92%);
	}

	40% {
		background: linear-gradient(82.62deg, #ffb838 0%, #ff9638 92%);
	}

	50% {
		background: linear-gradient(82.62deg, #ffa438 0%, #ffa438 92%);
	}

	60% {
		background: linear-gradient(82.62deg, #ff9638 0%, #ffb838 92%);
	}

	70% {
		background: linear-gradient(82.62deg, #ff8938 0%, #ffc238 92%);
	}

	80% {
		background: linear-gradient(82.62deg, #ff6b38 0%, #ffd350 92%);
	}

	90% {
		background: linear-gradient(82.62deg, #ff5338 0%, #ffd450 92%);
	}

	100% {
		background: $yellow-gray-gradient-reverse;
	}
}

@keyframes reverseButtonAnimation {
	0% {
		background: $yellow-gray-gradient-reverse;
	}

	10% {
		background: linear-gradient(82.62deg, #ff5338 0%, #ffd450 92%);
	}

	20% {
		background: linear-gradient(82.62deg, #ff6b38 0%, #ffd350 92%);
	}

	30% {
		background: linear-gradient(82.62deg, #ff8938 0%, #ffc238 92%);
	}

	40% {
		background: linear-gradient(82.62deg, #ff9638 0%, #ffb838 92%);
	}

	50% {
		background: linear-gradient(82.62deg, #ffa438 0%, #ffa438 92%);
	}

	60% {
		background: linear-gradient(82.62deg, #ffb838 0%, #ff9638 92%);
	}

	70% {
		background: linear-gradient(82.62deg, #ffc238 0%, #ff8938 92%);
	}

	80% {
		background: linear-gradient(82.62deg, #ffd350 0%, #ff6b38 92%);
	}

	90% {
		background: linear-gradient(82.62deg, #ffd450 0%, #ff5338 92%);
	}

	100% {
		background: $yellow-gray-gradient-default;
	}
}
