// Colors
$date-card-carousel-month-color: $dusty-gray;
$date-card-carousel-month-border-color: $dusty-gray;

// Sizes
$date-card-carousel-wrapper-height: 130px;

$date-card-carousel-swiper-slide-padding-mobile: 54px 0 0;
$date-card-carousel-swiper-slide-padding-tablet: 45px 0 0;

$date-card-carousel-button-prev-left: -35px;
$date-card-carousel-button-next-right: -35px;
$date-card-carousel-button-margin: 35px 0 0 0;
$date-card-carousel-month-bottom: 96px;

// Fonts
$date-card-carousel-month-font-size: $font-size-medium;
$date-card-carousel-month-line-height: $line-heigh-medium;
