// Colors
$event-card-text-background-color: $white;
$event-card-text-color: $gray;

// Fonts
$event-card-text-default-font-size: 13px;
$event-card-text-font-size-tablet: 16px;
$event-card-text-font-size-big-desktop: 22px;

$event-card-text-default-line-height: 21px;
$event-card-text-line-height-tablet: 26px;
$event-card-text-line-height-big-desktop: 35px;

$event-card-date-default-font-size: 15px;
$event-card-date-font-size-tablet: 22px;

$event-card-date-small-font-size-desktop: 30px;
$event-card-date-medium-font-size-desktop: 20px;
$event-card-date-medium-font-size-big-desktop: 30px;

$event-card-date-default-line-height: 21px;
$event-card-date-line-height-tablet: 31px;

$event-card-date-small-line-height-desktop: 42px;
$event-card-date-medium-line-height-desktop: 28px;
$event-card-date-medium-line-height-big-desktop: 42px;

// Sizes
$event-card-default-padding: 20px;
$event-card-default-border-radius: 35px;

$event-card-small-height-mobile: 565px;
$event-card-small-height-tablet: 674px;
$event-card-small-height-desktop: 676px;
$event-card-small-height-big-desktop: 761px;

$event-card-medium-height-mobile: 605px;
$event-card-medium-height-tablet: 698px;
$event-card-medium-height-desktop: 665px;
$event-card-medium-height-big-desktop: 805px;

$event-card-large-height: 800px;

$event-card-image-default-height: 300px;
$event-card-image-small-height-mobile: 250px;

$event-card-image-large-height-mobile: 460px;

$event-card-title-default-height: 34px;
$event-card-title-height-desktop: 48px;

$event-card-text-default-height: 42px;
$event-card-text-default-max-width: 80%;

$event-card-text-small-height-tablet: 78px;
$event-card-text-small-height-desktop: 98px;
$event-card-text-small-height-big-desktop: 175px;

$event-card-text-medium-height-tablet: 52px;
$event-card-text-medium-height-desktop: 104px;
$event-card-text-medium-height-big-desktop: 210px;

$event-card-text-large-height-mobile: 60px;
$event-card-text-large-height-desktop: 78px;
$event-card-text-large-height-big-desktop: 60px;

$event-card-date-default-height: 21px;
$event-card-date-height-tablet: 31px;

$event-card-date-small-height-desktop: 42px;
$event-card-date-medium-height-desktop: 28px;
$event-card-date-small-height-big-desktop: 42px;
