// Colors
$footer-list-default-background-color: $mine-shaft-dark;

$footer-list-header-color: $white;
$footer-list-item-color: $gray;

// Fonts
$footer-list-item-text-font-size-tablet: 12px;
$footer-list-item-text-font-size-desktop: $font-size-normal;
$footer-list-item-text-font-size-big-desktop: $font-size-medium;

$footer-list-item-text-line-height-tablet: 19px;
$footer-list-item-text-line-height-desktop: 25px;
$footer-list-item-text-line-height-big-desktop: $line-heigh-medium;


// Sizes
$footer-list-item-height: 19px;
$footer-list-item-height-desktop: 26px;
$footer-list-item-height-big-desktop: 29px;
