// Colors
$footer-default-background-color: $mine-shaft-dark;

// Sizes
$footer-default-row-gap: 40px;
$footer-default-padding: 60px 50px 60px 50px;

$footer-media-tablet-column-gap: 78px;
$footer-media-tablet-row-gap: 30px;
$footer-media-tablet-padding: 60px 50px 60px 50px;
$footer-media-tablet-height: 149px;
$footer-media-tablet-width: 300px;

$footer-media-desktop-column-gap: 10px;
$footer-media-desktop-padding: 60px 20px 60px;
$footer-media-desktop-min-height: 176px;
$footer-media-desktop-width: 307px;

$footer-big-desktop-width: 307px;
$footer-big-desktop-width-child: 505px;
