// Colors
$header-icon-burger-menu-background-color-screen-tablet: $wild-sand;
$header-icon-logo-background-color-screen-tablet: $wild-sand;
$header-menu-background-color-screen-desktop: $wild-sand;
$header-button-background-color: $mercury;
// Fonts
$header-button-icon-font-size: 35px;

$header-button-ticket-font-size: 40px;
$header-button-ticket-line-height: 10px;
// Sizes
$header-img-height: 150px;
$header-pic-height: 150px;

$header-controls-height: 87px;
$header-controls-padding: 0 10px;
$header-controls-height-screen-tablet: 110px;
$header-controls-margin-top-screen-desktop: 25px;
$header-controls-padding-screen-desktop: 0 20px;

$header-icon-burger-menu-border-radius-screen-tablet: 99px;
$header-icon-burger-menu-width-screen-tablet: 140px;
$header-icon-burger-menu-height-screen-tablet: 74px;
$header-icon-burger-menu-padding-screen-tablet: 25px 20px;

$header-icon-logo-border-radius-screen-tablet: 99px;
$header-icon-logo-width-screen-tablet: 275px;
$header-icon-logo-height-screen-tablet: 70px;
$header-icon-logo-padding-screen-tablet: 10px 15px;
$header-icon-logo-width-screen-desktop: 275px;
$header-icon-logo-height-screen-desktop: 75px;
$header-icon-logo-padding-screen-desktop: 15px 20px;

$header-menu-padding-screen-desktop: 5px 10px;
$header-menu-gap-screen-desktop: 40px;

$header-menu-border-radius-screen-desktop: 99px;

$header-buttons-gap: 15px;

$header-button-circle-height: 60px;
$header-button-circle-width: 60px;
$header-button-circle-border-radius: 99px;
