*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: $font-family-medium-expanded;
    line-height: $line-heigh-normal;
    font-size: $font-size-normal;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-family-medium-ultra-expanded;
    font-weight: $font-weight-semi-bold;
    line-height: 1.5em;
}

h1 {
    font-size: 30px;

    @media #{$screen-tablet} {
        font-size: 50px;
    }

    @media #{$screen-desktop} {
        font-size: 70px;
    }
}

h2 {
    font-size: 28px;

    @media #{$screen-tablet} {
        font-size: 40px;
    }

    @media #{$screen-desktop} {
        font-size: 60px;
    }
}

h3 {
    font-size: 28px;

    @media #{$screen-tablet} {
        font-size: 35px;
    }

    @media #{$screen-desktop} {
        font-size: 50px;
    }
}

h4 {
    font-size: 24px;

    @media #{$screen-tablet} {
        font-size: 30px;
    }

    @media #{$screen-desktop} {
        font-size: 40px;
    }
}

h5 {
    font-size: 22px;

    @media #{$screen-tablet} {
        font-size: 24px;
    }

    @media #{$screen-desktop} {
        font-size: 30px;
    }
}

ul[class],
ol[class] {
  list-style: none;
}

input,
button, a {
  font: inherit;
}

a {
	text-decoration: none;
	color: inherit;
}
