// Colors
$main-page-background-color: $mercury;
$main-page-section-border-color: $dusty-gray;
$main-page-section-text-color: $gray;

// Fonts
$main-page-section-text-font-size-mobile: 13px;
$main-page-section-text-font-size-tablet: 18px;

$main-page-section-text-line-height-mobile: $line-heigh-small;
$main-page-section-text-line-height-tablet: $line-heigh-medium;
