// Colors
$white: #fff;
$black: #000;
$soft-black: #1d1d1d;
$mercury: #e7e7e7;
$wild-sand: #f6f6f6;
$gray: #888888;
$mine-shaft: #353333;
$mine-shaft-dark: #222121;
$dusty-gray: #9b9494;
$boulder: #777777;
$gold: #ffd600;
$silver-chalice: #aaaaaa;
$default-background: #fff;
$sunrise-red: #ff3938;
$shadow-gray: #67676733;

$yellow-gray-gradient-default: linear-gradient(
	82.62deg,
	$gold 0%,
	$sunrise-red 92%
);

$yellow-gray-gradient-reverse: linear-gradient(
	82.62deg,
	$sunrise-red 0%,
	$gold 92%
);

// Fonts
$font-family-medium-ultra-expanded: 'Poppins-Regular';
$font-family-medium-expanded: 'Poppins-Medium';
$font-family-medium-extra-expanded: 'Poppins-Semibold';

$font-size-small: 13px;
$font-size-normal: 16px;
$font-size-medium: 18px;
$font-size-large: 22px;

$line-heigh-small: 21px;
$line-heigh-normal: 26px;
$line-heigh-medium: 29px;
$line-heigh-large: 35px;

$font-weight-thin: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;

// Breakpoints
$screen-tablet: '(min-width: 768px)';
$screen-desktop: '(min-width: 1280px)';
$screen-big-desktop: '(min-width: 1920px)';

// Z-indexes
