@font-face {
	font-family: "iconfont";
	font-display: block;
	src: url("iconfont.eot?8957437c14cebb046379be8cb8c7c934?#iefix") format("embedded-opentype"),
url("iconfont.woff2?8957437c14cebb046379be8cb8c7c934") format("woff2"),
url("iconfont.woff?8957437c14cebb046379be8cb8c7c934") format("woff");
}

.icon {
	line-height: 1;
}

.icon:before {
	font-family: iconfont !important;
	font-style: normal;
	font-weight: normal !important;
	vertical-align: top;
}

.icon-arrow-down:before {
	content: "\f101";
}
.icon-arrow-left:before {
	content: "\f102";
}
.icon-arrow-right:before {
	content: "\f103";
}
.icon-login:before {
	content: "\f104";
}
.icon-search:before {
	content: "\f105";
}
.icon-ticket:before {
	content: "\f106";
}
