@font-face {
	font-family: "iconfont";
	font-display: block;
	src: url("iconfont.eot?38b93d3f327359cdcc916144922b61e9?#iefix") format("embedded-opentype"),
url("iconfont.woff2?38b93d3f327359cdcc916144922b61e9") format("woff2"),
url("iconfont.woff?38b93d3f327359cdcc916144922b61e9") format("woff");
}

.icon {
	line-height: 1;
}

.icon:before {
	font-family: iconfont !important;
	font-style: normal;
	font-weight: normal !important;
	vertical-align: top;
}

.icon-arrow-down:before {
	content: "\f101";
}
.icon-arrow-left:before {
	content: "\f102";
}
.icon-arrow-right:before {
	content: "\f103";
}
.icon-burger-menu:before {
	content: "\f104";
}
.icon-login:before {
	content: "\f105";
}
.icon-logo:before {
	content: "\f106";
}
.icon-search:before {
	content: "\f107";
}
.icon-ticket:before {
	content: "\f108";
}
