// Plugins
@import "normalize-scss/sass/normalize/import-now";

// Base
@import "/app/styles/scss/base/generic";
@import "/app/styles/scss/base/fonts.scss";
@import "/app/styles/fonts/iconFont/iconfont.css";


.leaflet-right {
	display: none;
}

#__nuxt {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.v-md-editor__right-area {
	height: 100%;
}
